.main-card {
  border: none;
}

body {
  font-family: "Lato", sans-serif;
}

.rancho-font{
  font-family: 'Rancho', cursive;
}

.profileHeader{
  font-size: 50px;
  text-transform: capitalize;
}

.username-style{
  text-transform: capitalize;
}