.usernameComment {
  /* font-size: 12px; */
  color: #f15f2a;
}

.userComment {
  color: #1a1a1a;
}

.newCommentTextArea{
    border-radius: 10px 10px 0 0;
}

.newCommentButton{
    border-radius: 0 0 10px 10px;
}